
/* EDITOR */

.editor-styles-wrapper {

  margin: 0 !important;
  padding: 0 !important;
}

.edit-post-visual-editor .editor-post-title__block {

  margin-bottom: 0;

  &.is-selected {

    margin-top: 50px;
  }
}

#wpadminbar {
  
  box-sizing: border-box;

  .quicklinks>ul>li>a {

    padding: 0 2em;
  }
  
  .quicklinks .ab-empty-item,
  .quicklinks a,
  .shortlink-input {
  
    padding: 0 2em;
  }
}

@media (min-width: 782px) {

  .edit-post-layout__content {
    
    min-height: calc(100% - 150px);
  }
}